
<div id="content" class="contentSection"> 
<h2 style="font-family: Optima">About</h2>

<div style="font-family:Optima; font-size: 16;">Anthony Zaccardi <br> Role: Designer Email: zaccardibacardi@gmail.com<br>
  <p>Worked on the prototype and layout design of the project. Also responsible for
    the backend framework.</p>
    </div>
</div>

