
<div id="content" class="contentSection">
<link rel="stylesheet" href="/bootstrap.css" /> 
<form method="get" action="loginx">
  <table align=center>
    <tr>
      <td width="100">Username:</td>
      <td width="150" align="center"><input type="text" name="userid"></td>
    </tr>
    <tr>
      <td width="100">Password:</td>
      <td width="150" align="center">
			<input type="password" name="password"><br>
			<a href="registration">Register</a>
      </td>
    </tr>
    <tr>
      <td width="100">&nbsp;</td>
      <td width="150" align="center"><input type="submit" value="Login">
      </td>
    </tr>
  </table>
  </form>
  </div>
