
<div id="content" class="contentSection"><span id="menu">
<table width="52.3%" align=center>
<h2 style="font-family:Optima">Products List</h2>
<div style="border:solid rgba(80, 80, 80, 0.781) 1px;background:#FFFFFF; font-family: Optima; float:left">
iMac 24 inch <img src="images/iMac.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('imac','IMAC 24 INCH', 1299.99,1);" />
<br><br></div>
<div style="border:solid rgba(80, 80, 80, 0.781) 1px;background:#FFFFFF; font-family: Optima; float:left">
iPhone 13 Pro <img src="images/iPhone.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('iphone','IPHONE 13 PRO', 999.99,1);"/>
<br></div>
<div style="border:solid rgba(80, 80, 80, 0.781) 1px;background:#FFFFFF; font-family: Optima; float:left">
iPad Pro 12 inch<img src="images/iPad.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('ipad','IPAD PRO 12 INCH', 799.99,1);"/>
<br></div>
<br><div style="border:solid rgba(80,80,80,0.781) 1px; background:#FFFFFF; font-family: Optima;  float:right" >
MacBook Pro 14 inch<img src="images/macbookpro.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('macbookpro','MACBOOK PRO 14 INCH',1999.99,1);"/>
<br></div>
<div style="border:solid rgba(80,80,80,0.781) 1px; background:#FFFFFF; font-family: Optima;  float:left" >
Apple Watch Series 7<img src="images/applewatch.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('applewatch','APPLE WATCH SERIES 7',399.99,1);"/>
<br></div>
<div style="border:solid rgba(80,80,80,0.781) 1px; background:#FFFFFF; font-family: Optima;  float:left" >
Apple TV 4K<img src="images/appletv4k.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('appletv4k','APPLE TV 4K',199.99,1);"/>
<br></div>
<div style="border:solid rgba(80,80,80,0.781) 1px; background:#FFFFFF; font-family: Optima; float:left" >
Mac Mini <img src="images/macmini.png" width="150px"></img>
<input type="button" value="AddToCart" onclick="add('macmini','MAC MINI',899.99,1);"/>
<br></div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><div style="background:#FFFFFF;float:bottom; font-family: Optima">
<p align=center><INPUT TYPE="button"  NAME="button" Value="GO TO CART AND CHECKOUT"  onclick="location.href='cart';"></p></div>
</table>
</span>
    

<div class="loading" id="main_loading">
<div class="loading-container">
<div id="img-loading">
<img src="https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif" alt="" id="loading_img">
<h3 style='color:black;'>Please wait, Item is being added to the cart</h3>
</div>
<div class="" id="after-loading">
<h3 id="item_added" style='color:black;'>Item added to the Web Cart</h3>
<button type="button" name="button" onclick="closeModal()">Okay</button>
</div>
</div>
</div>