
<div id="content" class="contentSection"> 
<form method="get" action="register">
  <table align=center>
    <tr>
      <td width="100">Username:</td>
      <td width="150" align="center"><input type="text"     name="userid"></td>
    </tr>
    <tr>
      <td width="100">Password:</td>
      <td width="150" align="center"><input type="password" name="password"></td>
    </tr>
     <tr>
      <td width="100">Re-Type Password:</td>
      <td width="150" align="center"><input type="password" name="password2"></td>
    </tr>
    <tr>
      <td width="100">&nbsp;</td>
      <td width="150" align="center">
        <input type="submit" name="choice" value="Enter">
        <input type="submit" name="choice" value="Clear">
    </td>
    </tr>
  </table>
  </form>
  </div>

