<html>
<head>
  <title>Kim Website - Contact Us</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="style2.css" />
</head>
<body>
<div id="content" class="contentSection"> 
<span id="menu">
<table width="100%" align=center>
<tr>
  <td align=center>Welcome to CIS485 Electronics</td>
</tr>
</table>
</span>

<span id="menu">
<table align=center>
<tr>
	 <td width='100' align=center><a href='login.html'>Login</a></td>  
    <td width='100' align=center><a href='about.html'>About</a></td>  
    <td width='100' align=center><a href='products.html'>Product List</a></td>	
    <td width='100' align=center><a href='contact.html'>Contact Us</a></td>
</tr>
</table>
</span>
</div>
<div id="content" class="contentSection"> 
PAGE CONTENT HERE
</div>

</body>
</html>
